networks:
  ms-net:
    driver: bridge

services:
  # Este servicio no hace nada, solo sirve para invocar los dem치s.
  # Para levantar el entorno de desarrollo:
  # docker compose --profile dev up
  #
  # Para levantar el entorno de producci칩n:
  # docker compose --profile prod up

  dev-runner:
    image: alpine
    container_name: dev
    profiles: ["dev"]
    depends_on:
      - db
      - auth
      - profiles
      - sms
      - rabbitmq
      - consul
      - orchestrator
      - api-gateway
      - jenkins
      - sonarqube
      - sonar-db
    command: "echo 'Entorno de desarrollo listo.'"

  prod-runner:
    image: alpine
    container_name: prod
    profiles: ["prod"]
    depends_on:
      - db
      - auth
      - profiles
      - sms
      - rabbitmq
      - consul
      - orchestrator
      - api-gateway
    command: "echo 'Entorno de producci칩n listo.'"

include:
  # Archivos para el perfil de desarrollo
  - path: ./apps/docker-compose.dev.yml
    profiles: ["dev"]
  - path: ./architecture/docker-compose.dev.yml
    profiles: ["dev"]
  - path: ./devOps/docker-compose.dev.yml
    profiles: ["dev"]

  # # Archivos para el perfil de producci칩n
  # - path: ./apps/docker-compose.prod.yml
  #   profiles: ["prod"]
  # - path: ./architecture/docker-compose.prod.yml
  #   profiles: ["prod"]
